.App {
  font-family: sans-serif;
  text-align: center;
}

.hotWeather {
  background-color: #ff81008f;
}
.coldWeather {
  background-color: #0089ffa6;
}

.cityName {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #e8e8e8;
}
.cityName span {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.temperatures {
  font-weight: 700;
}

.minTemp {
  opacity: 0.5;
}

.description {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.5;
}

.citySelect {
  border: none;
  background-color: #ffff;
  padding: 5px;
  border-radius: 5px;
}
